body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-primary {
    //background-color: #0099CC !important;
}

.panel-primary header {
    background-color: #0099CC !important;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 15px 15px 15px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #0099CC;
    color: white;
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

    input[type=submit]:hover {
        background-color: #4599CC;
    }

.column-25 {
    float: left;
    width: 25%;
    margin-top: 5px;
}

.column-75 {
    float: right;
    width: 75%;
    margin-top: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.div-center {
    margin-left: auto;
    margin-right: auto;
    width:320px;
}

.div-table {
    margin-left: auto;
    margin-right: auto;
    width: 620px;
}


footer{
    text-align:center;
}

@media (max-width: 600px) {
    .column-25, .column-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
