@{
    ViewBag.Title = "Share your Ideas";
}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <h2>@ViewBag.Title.</h2>

    <div class="row">
        <div class="col-md-4">
            <div>
                <h2>Popular Ideas</h2>  
                    <h3>Title</h3>
                    <p>These are the most popular ideas.</p>
                    <p><a class="btn btn-default" href="">See more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

<a href="" class="btn btn-warning btn-lg" style="width:190px !important;">Share your Ideas &raquo;</a>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>