
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<head>
    <style>
        body {
            background-color: #4599CC;
        }
    </style>
</head>


<div  style="text-align: center;">
    <div style="text-align: center;padding-bottom: 20px;color:white">
        <h1>Share your Ideas</h1>
        <div>
        </div>
    </div>
    <div class="div-center">
        <form action="">
            <div class="row">
                <div class="column-25">
                    <label for="forename">Forename</label>
                </div>
                <div class="column-75">
                    <input type="text" name="forename" placeholder="Your forename...">
                </div>
                <div class="column-25">
                    <label for="surname">Surname</label>
                </div>
                <div class="column-75">
                    <input type="text" name="surname" placeholder="Your surname...">
                </div>
                <div class="column-25">
                    <label for="category">Category</label>
                </div>
                <div class="column-75">
                    <select id="category" name="category">
                        <option value="Art">Art</option>
                        <option value="Business">Business</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Sport">Sport</option>
                    </select>
                </div>
                <div class="column-25">
                    <label for="file">File</label>
                </div>
                <div class="column-75">
                    <input type="file" id="file" name="file">
                </div>
                <div class="column-25">
                    <label for="comment">Comment</label>
                </div>
                <div class="column-75">
                    <textarea id="comment" name="comment" placeholder="Write some comments here..." style="height:200px;"></textarea>
                </div>
                <div class="column-25">
                    <input type="checkbox" id="checkbox" name="checkbox">
                </div>
                <div class="column-75">
                    <label for="checkbox">Accepts Terms & Conditions</label>
                </div>
                <div class="column-25">
                    <input type="checkbox" id="checkbox" name="checkbox">
                </div>
                <div class="column-75">
                    <label for="checkbox">Click here if you want to do an Anonymous submit?</label>
                </div>
                <div class="row">
                    <a href="" class="btn btn-warning btn-lg" style="width:190px !important;">Share your Ideas &raquo;</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

