

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<head>
    <style>
        body {
            background-color:white;
        }

        table{
            border-collapse:collapse;
            width:100%;
        }

        th, td{
            padding:10px;
            text-align:left;
            border-bottom: 1px solid;
        }
        th {
            background-color: #4599CC;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>

<div style="text-align: center;">
    <div style="padding: 20px 20px;">
        <h1>View Ideas</h1>
    </div>
</div>

<div class="div-table">
    <div>
        <h2>Art</h2>
    </div>
    <div style="text-align: center;">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Idea</th>
                    <th>Date </th>
                    <th>Do you like it?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jon</td>
                    <td>Electronic for one day</td>
                    <td>15 September, 2018</td>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
                    <td><span class="glyphicon glyphicon-thumbs-down"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Electronics</h2>
    </div>
    <div style="text-align: center;">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Idea</th>
                    <th>Date </th>
                    <th>Do you like it?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jon</td>
                    <td>Electronic for one day</td>
                    <td>15 September, 2018</td>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
                    <td><span class="glyphicon glyphicon-thumbs-down"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>

</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

