

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<head>
    <style>
        body {
            background-color: #4599CC;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid;
        }

        th {
            background-color: #f1f1f1;
        }

        tr:hover {
            background-color: #f0ad4e;
        }


        .search-container button{
            float:right;
            padding: 6px 10px; 
            margin: 8px;
            margin-bottom:40px;
            border:none;
            cursor:pointer;
        }
    </style>
</head>

<div style="text-align: center;">
    <div style="padding: 20px 20px;">
        <h1>View Ideas</h1>
    </div>
</div>

<div class="row">
    <div style="float:right;">
        <div class="search-container">
            <form>
                <input type="text" placeholder="Search ..." name="search" />
                <button type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </form>
        </div>
        <div>
            <a href="" class="btn btn-warning btn-lg" style="width:190px !important;">Export Ideas &raquo;</a>
        </div>
    </div>
</div>
    <div class="container">

        <div class="row">
            <div class="div-table">
                <h2>Art</h2>
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Idea</th>
                            <th>Date </th>
                            <th>Do you like it?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jon</td>
                            <td>Electronic for one day</td>
                            <td>15 September, 2018</td>
                            <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
                            <td><span class="glyphicon glyphicon-thumbs-down"></span></td>
                        </tr>
                    </tbody>
                </table>

                <h2>Business</h2>
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Idea</th>
                            <th>Date </th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jon</td>
                            <td>Business on IT</td>
                            <td>18 September, 2018</td>
                            <td colspan="2">
                                <span class="glyphicon glyphicon-thumbs-up"></span>&emsp;<span class="glyphicon glyphicon-thumbs-down"></span>
                                &emsp;<span class="glyphicon glyphicon-comment"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    
        <script>

        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

