
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />


<div style="text-align: center;padding-top: 100px; padding-bottom: 100px; background-image:url(../../Content/Images/pexels-photo-262669.jpeg);">
    <h1 style="color:white; padding-bottom:25px;">Welcome to Ideas Centre</h1>
    <p class="lead"></p>
    <div>
        
        <asp:a href="" class="btn btn-warning btn-lg" style="width:190px !important;">Share your Ideas &raquo;</asp:a>
      
        <asp:a href="" class="btn btn-info btn-lg" style="width:190px !important;">View Ideas &raquo;</asp:a>
      
    </div>
</div>

<div style="padding:20px;">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Popular Ideas</h2></div>
                <div class="panel-body">
                    <h3>Title</h3>
                    <p>These are the most popular ideas.</p>
                    <p><asp:a class="btn btn-default" href="">See more &raquo;</asp:a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Most Viewed Ideas</h2></div>
                <div class="panel-body">
                    <h3>Title</h3>
                    <p>Have a look to the most viewed Ideas</p>
                    <p><asp:a class="btn btn-default" href="">See more &raquo;</asp:a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Latest Ideas</h2></div>
                <div class="panel-body">
                    <h3>Title</h3>
                    <p>Find the most recent ideas here.</p>
                    <p><asp:a class="btn btn-default" href="">See more &raquo;</asp:a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>